@page "/"
@inherits LayoutComponentBase
@inject NavigationManager Nav
<MRow Class="mb-6"
      Style="background-color:#f9f9f9"
      Justify="@JustifyTypes.Center"
      NoGutters>
    <MCol Lg="6" Class="content">
        <div class="content-data">
            <MList ThreeLine>

                <MSubheader>Header</MSubheader>
               @* @foreach (var item in _items)
                {
                    <MListItemTitle>@item.Title</MListItemTitle>
                    <MListItem>
                        <MListItemAvatar>
                            <MImage Src="@item.Avatar"></MImage>
                        </MListItemAvatar>

                        <MListItemContent>
                            <MListItemTitle>@((MarkupString)item.Title)</MListItemTitle>
                                <MListItemSubtitle>@((MarkupString)item.SubTitle)</MListItemSubtitle>
                            </MListItemContent>
                        </MListItem>
                    <MDivider Inset="item.Inset"></MDivider>
                }*@
            </MList>
        </div>
    </MCol>
    <MCol Style="max-width:300px;min-width:300px;" Lg="2" Class="pc">
        <div class="hot">
            <span>热门</span>
        </div>
    </MCol>
</MRow>

@code {
}
<style>
    body {
        background-color: #f9f9f9;
    }

    html {
        overflow: hidden;
    }

    .hot {
        margin: 10px;
    }

    .content {
        background-color: #ffffff;
    }

    .content-data {
        margin: 10px;
    }

    @@media only screen and (max-width: 800px) {
        .pc {
            transition: .8s;
            display: none;
        }
    }
</style>